.navbar_logo {
	width: 60px;
}

.link {
	font-weight: 600;
	letter-spacing: 1px;
}


.total {
    font-weight: bold;
    text-align: right;
}

.totalTime {
    font-weight: bold;
}

.th-tile {
	user-select: none;
}

.th-tile:hover {
	cursor: pointer;
	background-color: #dee2e6;
}

.cleaning-date {
	min-width: 130px;
}

.th-hours-width {
	width: 80px;
}

.jobs {
	max-width: 1500px;
}

@media (min-width: 576px) {
	.time-input-label {
		display: inline-block;
	}

}