@import './custom.scss';
@import '~bootstrap/scss/bootstrap';

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	margin-bottom: 10rem;
}

p {
	white-space: pre-wrap;
}

.navbar {
	min-height: 78px;
	padding: 0 2rem;
}

.navbar_logo {
	width: 60px;
}

.navbar_logo:hover {
  cursor: pointer;
}

.link {
  font-weight: 600;
	letter-spacing: .4px;
}

.total {
  font-weight: bold;
  text-align: right;
}

.totalTime {
  font-weight: bold;
}

.th-tile {
	user-select: none;
}

.th-tile:hover {
	cursor: pointer;
	background-color: #dee2e6;
}

.cleaning-date {
	min-width: 130px;
}

.th-hours-width {
	width: 80px;
}

.jobs {
	max-width: 1500px;
}

.dropdown-link-item {
	color: #6c757d;
}

.recurring-table {
	min-width: 900px;
}

.time-input {
	max-width: 120px;
}

.next-cleaning-date {
	width: 140px;
}

.footer-list {
	line-height: 1.7;
}

.worker-feedback-title {
	font-size: 1.25rem;
	line-height: 1.5;
}