@import './custom.scss';
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	margin-bottom: 10rem;
}

.jumbotron {
	background-image: linear-gradient(to right,rgba(0, 0, 0, 0.664),rgba(10, 10, 12, 0.596)), url("../assets/homepage.jpg");
	background-position: center;
	background-size: cover;
	height: 100vh;
	padding: 0;
	margin: 0 auto;
	border-radius: 0;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color:  #fff;
		main & {
			margin-bottom: -10rem;
		}
}

.homepage_text {
 	display:flex;
 	flex-direction: column;
 	justify-content: center;
	align-items: center;
	padding: 0.75rem;
}

.homepage_text h2 {
	font-family: 'Potta One', cursive;
	margin-bottom: 1rem;
}
.homepage_text li {
	list-style-type: none;
	display: flex;
	align-items: center;
}

.homepage_text p {
	padding-left: 1rem;
	font-size: 1.2rem;
	margin-block-end: 0;
}

p {
	white-space: pre-wrap;

}

.navbar {
	min-height: 78px;
	padding: 0 2rem;
}

.navbar_logo {
	width: 60px;
}

.navbar_logo:hover {
  cursor: pointer;
}
.navItem {
	border-bottom: 2px solid transparent;
}

.navItem:hover {
	border-bottom: 2px solid  #f8ae37;
}

.link {
  font-weight: 600;
	letter-spacing: .4px;
}

.homepage-icons {
	font-size: 2rem;
	color:#f8ae37;
	margin-bottom:0.5rem ;
}

.footer-icons {
	font-size: 1.3rem;
	color: #0f70b7;
}

.total {
  font-weight: bold;
  text-align: right;
}

.totalTime {
  font-weight: bold;
}

.th-tile {
	user-select: none;
}

.th-tile:hover {
	cursor: pointer;
	background-color: #dee2e6;
}

.cleaning-date {
	min-width: 130px;
}

.th-hours-width {
	width: 80px;
}

.jobs {
	max-width: 1500px;
}

.dropdown-link-item {
	color: #6c757d;
}

.recurring-table {
	min-width: 900px;
}

.time-input {
	max-width: 120px;
}

.next-cleaning-date {
	width: 140px;
}

.footer-list {
	line-height: 1.7;
}

  .worker-feedback-title {
	font-size: 1.25rem;
	line-height: 1.5;
}

@media screen and (max-width: 560px) {
	.homepage_text h2 {
		text-align: center;
		font-size: 1.5rem;
	}
	.homepage_text li {
		font-size: 14px;
	}
	.homepage-icons {
	font-size: 1.5rem;
	}
	.homepage_text li:nth-child(3) > svg {
	min-width: 2.65rem;
	margin-left: -0.5rem;
	
	}
	.homepage_text li:nth-child(3) p {
	margin-left: -0.5rem;
	}
}
